
- content_for(:head) do
  %meta{'http-equiv'=>'Content-Type', 'content' => 'text/html; charset=UTF-8'}
  = javascript_include_tag 'main.js'
  = javascript_include_tag 'splash.js'
  = stylesheet_link_tag 'theme/blue/matsoz_blue.css'
  = stylesheet_link_tag 'theme/blue/matsoz_splash.css'
  = stylesheet_link_tag 'theme/bes/matsoz_bes.css'
  :javascript
    var wordList = #{@word_list.to_json};
    var currentLetter = 'a';
#container

  .matsoz_logo
    =image_tag("theme/blue/ui_img/matsoz5_logo.png")
  .halici_logo
    =image_tag("theme/blue/ui_img/splash_halici_logo.png")
  .meb_logo
    =image_tag("theme/blue/ui_img/splash_meb_logo.png")

-#= link_to 'Create new entry',  new_entry_path