
- content_for(:head) do
  %meta{'http-equiv'=>'Content-Type', 'content' => 'text/html; charset=UTF-8'}
  = javascript_include_tag 'main.js'
  = stylesheet_link_tag 'theme/blue/matsoz_blue.css'
  = stylesheet_link_tag 'theme/blue/matsoz_dialog.css'
  = stylesheet_link_tag 'theme/bes/matsoz_bes.css'
  = stylesheet_link_tag 'print.css', :media => 'print'
  - begin
    = javascript_include_tag @entry.javascript_file
  - rescue

  - if Rails.env.development?
    = javascript_include_tag 'development.js'

  - if @exporting
    :javascript
      var exportedPage = true;
  - else
    :javascript
      var exportedPage = false;

  :javascript
    var wordList = #{@word_list.to_json};
    var currentLetter = '#{@current_letter}';

#container






  %div.tanim
    - if @entry.thumbnail?
      %div.simgebg
        = image_tag('theme/blue/ui_img/simge_bg.png', {:width => 139, :height => 143, :style => "position:absolute; top: 0px; left: 0px;"})
        %div.simge
          - if @exporting
            = image_tag('/assets/symbols/' + @entry.id.to_s + '.png', {:style => "position:absolute; top: 0px; left: 0px;"})
          - else
            = image_tag(@entry.thumbnail.url, {:style => "position:absolute; top: 0px; left: 0px;"})
    %strong.name
      = @entry.word + ": "
    - @chunks.each do |chunk|
      - chunk.each do |key, value|
        - if value == nil
          - if key != nil
            =key.gsub(' ', "\n")
        - else
          - if @exporting
            %a{:href => value.id.to_s + ".html"} #{key}
          - else
            = link_to key, entry_path(value)
    %div.additional_info
      - if @entry.additionalInfo
        %em
          = @entry.additionalInfo

  %div{:class=>'ornek ornek_border sablon'}
    %div{:class =>'ornekbaslik ornekbaslik_bg'}

  %div{:class => 'mavikontrol sablon'}
  %div{:class => 'etkilesimalan sablon'}
