
- content_for(:head) do
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1, user-scalable=yes'}
  = javascript_include_tag 'raphael-min.js'
  = javascript_include_tag 'paper.js'
  = javascript_include_tag 'main.js'
  - begin
    = javascript_include_tag @entry.javascript_file
  - rescue

#content
  #words_list
    - @all_entries.each do |entry|
      - if entry == @entry
        %p.selected= link_to entry.word, entry_path(entry)
      - else
        %p
          = link_to entry.word, entry_path(entry)
          
  #word_content
    %p.definition
      %span.name
        = @entry.word + ": "
      - @chunks.each do |entry|
        - entry.each do |key, value|
          - if value == nil
            - if key != nil
              %span>= key.gsub(' ', "\n")
          - else
            %span>= link_to key, entry_path(value)
            
    %p.exampleHeader
      Örnek
    #animation_container
    #interaction_container
      .objective
      .interaction

= link_to "Instruction File", @entry.instructions.url
%br
= link_to 'Create new entry',  new_entry_path
|
= link_to "Edit #{@entry.word}", edit_entry_path(@entry)