
- content_for(:head) do
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1, user-scalable=yes'}
  %meta{'http-equiv'=>'Content-Type', 'content' => 'text/html; charset=UTF-8'}
  = stylesheet_link_tag 'theme/blue/matsoz_blue.css'
  = stylesheet_link_tag 'theme/matsoz_yedi.css'
  = javascript_include_tag 'raphael-min.js'
  = javascript_include_tag 'paper.js'
  = javascript_include_tag 'main.js'
  = javascript_include_tag 'main.paperinit.js'
  = javascript_include_tag 'main.raphaelinit.js'
  = javascript_include_tag 'util.js'
  = javascript_include_tag 'animation_manager.js' 
  = javascript_include_tag 'excanvas.js'
  - begin
    = javascript_include_tag @entry.javascript_file
  - rescue

#container
  #navigation
    .sozcuktasiyici
      - @all_entries.each do |entry|
        - if entry == @entry
          = link_to entry.word, entry_path(entry), {:class => 'sozcuklink selected'}
        - else
          = link_to entry.word, entry_path(entry), {:class => 'sozcuklink'}
          
  #inter_container.back
    %div.tanim
      %strong.name
        = @entry.word + ": "
      - @chunks.each do |chunk|
        - chunk.each do |key, value|
          - if value == nil
            - if key != nil
              %span>=key.gsub(' ', "\n")
          - else
            %span>= link_to key, entry_path(value)
      - if @entry.additionalInfo
        %em
          = @entry.additionalInfo
          
    %div{:class=>'ornek ornek_border'}
      #div{:class =>'ornekbaslik ornekbaslik_bg'}
    %div.mavikontrol
    %div.etkilesimalan
    

= link_to "Instruction File", @entry.instructions.url
%br
= link_to 'Create new entry',  new_entry_path
|
= link_to "Edit #{@entry.word}", edit_entry_path(@entry)